/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos del body */

.colorFondo{
    background-color: beige;   
}

/* estilos de header */

header{
    background-color: #F8D30D;
    text-align: center;
    padding-bottom: 20px;
    
}

header nav ul li{ 
    text-decoration: none;  
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}



/* estilos de los menus */

header nav ul li a{
    text-decoration: none;
    color: black; 
    font-size: 105% ;   
}

header a .logo{
    height: 100px; 
    width: 100px;
}

.tomatito:hover{
    background-color: orangered;
}


/* estilos del main */

main{
    text-align: center;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
/* estilos del main para el index */

main .categorias{
    display: none;
}

.tituloIndex{
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
    
}

.textoIndex{
    text-align: center;
}



main p{
    margin: 20px;
    margin-left: 15%;
    margin-right: 15%;
   
}

.textoMainIndex{
    display: inline-block;
    
}



/* estilos cartel "Horarios de atencion */

main table{
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    
}
/* pagina pastillas de frenos */


.tituloPastillas{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 15%;
    font-weight:bold;
    font-weight: bolder;
}


.videoYouTube iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
     
}

.parrafoPastillasUno{
    text-align: left;
    margin-left: 18%;
    padding-top: 5%;
}

.parrafoPastillas{
    text-align: center;
    margin-top: 10%;
    
}

.imagenesPastillasParrafo{
    display: grid ;
    justify-content: center;   
}

.imgCuatroPastillas{
    height: 43%;
}

.imgCincoPastillas{
    height: 70%;
}

.imgSeisPastillas{
    height: 70%;
}



/* pagina herramientas */

.tituloHerramientas{
    color: rgb(22, 21, 21);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.videoHerramientas{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex; 
}

.parrafoHerramientas{
    display: grid;
    color: teal;
    
 }

main div.imagenesHerramientasUno{
    display: grid;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
}

main div div .btn{
     background-color:#F8D30D;
     color: black;
     font-weight:900;
     font-family:Georgia, 'Times New Roman', Times, serif ;
    
}

main div div .card-text{
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(241, 237, 237);
}

.imagenesHerramientassUno, .imagenesHerramientassDos, .imagenesHerramientassTres{
    margin-bottom: 5%;
}

.imagenesHerramientasDos div{
    display: grid;
    padding-top: 5%;
    padding-bottom: 1%;
    margin-bottom: 5%;
    justify-content: center;
}




  
/* estilos para el main de suspensio y.. */

.tituloPrincipalSuspension{
    font-weight:bold;
    padding-top: 5%;
}

.tituloSecundarioSuspension{
    padding-top: 10%;
    font-style: italic;
}

.parrafoSuspension{
    margin-left: 2%;
     padding-top: 3%;
     text-align: right;
}

.parrafoSuspensionUno{
    margin-left: 3%;
    padding-top: 3%;
    text-align: left;

}

/* estilos para el link del mapa en contactos */

.mapa{
    
    text-align: center;
    margin: 10%;
    display: flex;
}

/* estilos para planilla de contacto */

form{
    display: inline ;
    background-color:#F8D30D;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

form fieldset legend{
    background-color: black;
    color: whitesmoke;
 }

section form fieldset legend{
    text-align: center;
    margin-bottom: 5%;
    
}

section form fieldset{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: gainsboro;
    text-align: center;
}

section form fieldset div{
    margin: 10px;
    font-weight: bolder;
}

section form fieldset div .ejemplo{
    font-weight: lighter;
}

section form fieldset div input{
    font-weight: bold;
    margin-left: 10px;
}


/* logo Whatsapp flotante */

.itemWhatsapp{
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 50px; 
    width: 70px;
} 


/* estilos footer */

footer{
    background-color:#F8D30D ;
    text-align: center;
    color: black;
    
   
}

footer div h2{
    margin: 5px;
}

footer p{
    background-color: black;
    color: whitesmoke;
}

.itemRedesSociales{
    display: inline-flex;
    margin: 10px;
    
}

/* estilos tablet */

@media screen and (min-width:600px){

    /* estilos index  */

    .videoYouTube{
        height: 30vh;
        padding-left: 50px;
        padding-right: 50px;
        
    }

    /* estilos contactos */

    .mapa{
        justify-content: center;
    }

    /* estilos herramientas */

    .videoHerramientas{
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .imagenesHerramientas div.imagenesHerramientasUno{
        grid-template-columns: repeat(2, 0.5fr);
    }

    .imagenesHerramientassTres{
        margin-left: 50%;
    }

    .imagenesHerramientasDos{
        display: none;
    }

    .prueba{
        font-weight: bold;
    }


    /* estilos pastillas de frenos */

    .tituloPastillas{
        padding-bottom: 10px;
    }

    .imagenesPastillasParrafo{
        grid-template-columns: repeat(2, 0.5fr);
        align-content: center;
        padding-top: 50px;
        grid-template-rows: repeat(2, 0.4fr);
    }

    .imgCincoPastillas, .imgSeisPastillas{
        display: none; 
    }

    /* estilos suspension y direccion */

    .tituloSecundarioSuspension{
        margin-bottom: 20px;
    }

    .parrafoSuspension, .parrafoSuspensionUno{
        text-align: center;
        padding-left: 50px;
    }
}



/* estilos desktop */

@media screen and (min-width:1024px){

   
    /* estilos index */

    main .tituloIndex{  
        font-weight: bolder;
        color: rebeccapurple;
        
    }

    main .categorias{
        display: grid;
        grid-template-columns: repeat(2,45%);
        grid-template-rows: repeat(2,45%); 
        margin-left: 15%;
        margin-right: 15%;  
        margin-top: 7%;
        justify-content: center;
        column-gap: 10px;
        row-gap: 10px;
        
    }
    
    main .categorias div a img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
        
    }
    

    main .videoYouTube{
        height: 300px;
    }
    
    main .videoYouTube iframe{
        width: 50%;
        height: 100%;
    }

    main .textoIndex{
        justify-content: left;
        padding-right: 5%;
        margin-left: 15%;
    }

    /* estilos contacto */

    main .horarios{
        font-size: larger;
        height: 20px;
        padding-bottom: 5%;
    }

    .mapa{
        justify-content: center;   
    }

    /* estilos herramientas */

    main .videoHerramientas{
        justify-content: center;
        padding: 10px;
    }

    main .parrafoHerramientas{
        display: inline-block;
        background-color: #F8D30D;
        color: blue;
        font-size: large;
    }

  

    main div .imgUnoHerramientas{
    width: 100%;
    height: 50%;
    }


   main div .imagenesHerramientasUno{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    justify-content: center;
   }


    main div .imagenesHerramientasDos{
        display: grid;
        grid-template-columns: repeat(3,2fr);      
        column-gap: 1.5rem;
        
    }

    main .imgCuatroHerramientas{
        display: none;
    }

    main .imgSeisHerramientas{
        display: none;
    }
    /* estilos pastillas de frenos */

   
    .tituloPastillas{
        padding-top: 10px;
        padding-bottom: 2.5%;
        font-weight: bold;
    }

    .parrafoPastillas, .parrafoPastillasUno{
        font-size: large ;
        justify-content: left;
        margin-left: 10%;
    }

    main .imagenesPastillasParrafo{
        grid-template-columns: repeat(3,0.5fr);
        grid-template-rows: repeat(2,0.5fr);
        column-gap: 10px;
        margin-top: 10%;
        
    }

    .imgUnaPastillas, .imgDosPastillas, .imgTresPastillas, .imgCuatroPastillas, .imgCincoPastillas, .imgSeisPastillas{
        height: 70%;
        width: 90%;
    }



    main .txtPastillas{
        padding-top: 0%;
        padding-bottom: 10%;
        color: tomato;
    }  

    /* estilos suspension y direccion */

    main .tituloSecundarioSuspension{
        padding-bottom: 15px;
        padding-top: 2%; 
    }

    main .parrafoSuspension, .parrafoSuspensionUno{
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
    }

}